<div class="wrapper">
    <div class="car-container">
        <div class="nav">
            <input type="text" [(ngModel)]="searchString" placeholder="Search">
            <button (click)="toggleModal()" class="add-button">Add cars</button>
        </div>
        <div class="list-container">
            <div class="list-header">
                <span>Name</span>
                <span>Date Added</span>
                <span>Actions</span>
            </div>
            <div class="list-row" *ngFor="let car of getFiltered()">
                <span>{{ car.name }}</span>
                <span>{{ car.createdDate | date:'medium' }}</span>
                <span class="action-button" (click)="deleteCar(car)">Delete</span>
            </div>
        </div>
    </div>
</div>

<app-modal [(visible)]="visibleModal">
    <div class="modal-container">
        <div class="header">
            Add new cars
        </div>
        <div class="modal-content">
            <textarea #cars></textarea>
        </div>
        <div class="footer">
            <button (click)="toggleModal()">Cancel</button>
            <button (click)="addCar(cars.value)">Add cars</button>
        </div>
    </div>
</app-modal>