.wrapper {
    width: 50%;
    margin: 0 auto;

    .car-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            input[type=text] {
                width: 200px;
                padding: 2px 2px 2px 10px;
                background-color: transparent;
                border: 1px solid #BEC2C6;
                border-radius: 3px;
                color: #BDCED9;

                &::placeholder {
                    color: #BEC2C6;
                    font-style: italic;
                }
                &:focus {
                    outline: none;
                }
            }
        }

        .list-container {
            display: flex;
            flex-direction: column;
            border: 1px solid #BEC2C6;

            .list-header {
                background: #FAFAFA;
            }

            .list-row, .list-header {
                display: flex;
                align-items: center;
                height: 35px;
                padding: 0 5px;
                border-bottom: 1px solid #BEC2C6;

                span {
                    flex: 2;

                    &:last-child {
                        flex: 1;
                    }
                }
                
                .action-button {
                    cursor: pointer;
                    color: #FF6347;
                }
            }

            .list-row:last-child {
                border: none;
            }
        }
    }
}

.modal-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        height: 40px;
        padding: 10px;
        border-bottom: 1px solid #BEC2C6;
        font-weight: bold;
        color: #045e7b;
    }

    .modal-content {
        padding: 10px;
        flex-grow: 1;

        textarea {
            width: 100%;
            height: 100%;
            resize: none
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;  
        height: 40px;
        border-top: 1px solid #BEC2C6;

        button { 
            margin-right: 10px;
        }
    }
}

button {
    background: #008CBA;
    height: 25px;
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &:hover {
        background: #00b2ec;
    }
}
