.modal-wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    .modal__container {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        background-color: white;
        border-top: 25px solid black;
        border-right: 15px solid black;
        border-bottom: 15px solid black;
        border-left: 15px solid black;
        box-sizing: border-box;
        box-shadow: 0 0 15px 0px rgba(0,0,0,0.25);
        width: 600px;
        height: 300px;

        .modal__container__delete-btn {
            position: absolute;
            top: -20px;
            right: -10px;
            width: 15px;
            cursor: pointer;
        }
        
        .modal__container__content {
            height: 100%;
            overflow: hidden; 
            overflow-y: auto;
            box-sizing: border-box;
        }
        
        .modal__container__content::-webkit-scrollbar {
            width: 5px;
            display: block;
            
        }
        
        .modal__container__content::-webkit-scrollbar-thumb {
            background: #6f8792;
            margin-bottom: 2px;
            border-radius: 25px;
        }
        
        .clearfix:before,
        .clearfix:after {
            content: ".";    
            display: block;    
            height: 0;    
            overflow: hidden; 
        }
        .clearfix:after { clear: both; }
        .clearfix { zoom: 1; }
    }
}