<div class="modal-wrapper" [style.display]="visible ? 'flex' : 'none'" >
    <div 
        class="modal__container">
        <img 
            class="modal__container__delete-btn" 
            src="https://www.ethitee.com/101/x_button_png/x_button_png_23.png"
            (click)="closeModal()">
        <div class="modal__container__content clearfix">
        <ng-content></ng-content>
        </div>
    </div>
</div>