header {
    padding: 10px;
    text-align: center;
    background: #FAFAFA;
    margin-bottom: 20px;
    border-bottom: 1px solid #C3CACF;
    
    nav a {
        padding: 5px 10px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        background-color: #eee;
        border-radius: 4px;
        margin-right: 10px;

        &:visited, &:link {
            color: #334953;
        }

        &:hover {
            color: #039be5;
            background-color: #CFD8DC;
        }

        &.active {
            color: #039be5;
        }
    }
}